body {
    padding-top: 56px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.card {
    transition: transform .2s;
}

    .card:hover {
        transform: scale(1.02);
    }

#calendar {
    max-width: 900px;
    margin: 0 auto;
}
