{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Welcome to HSE Platform</h1>
        <p class="lead">Student Activities Management System</p>
        <hr class="my-4 mx-auto" style="width: 50%">
        <p>Discover student organizations and upcoming events</p>
        
        <div class="d-flex flex-wrap justify-content-center gap-2">
            <a class="btn btn-primary btn-lg" href="/organizations" role="button">Organizations</a>
            <a class="btn btn-success btn-lg" href="/events" role="button">Events</a>
            <a class="btn btn-info btn-lg" href="/vacancies" role="button">Opportunities</a>
        </div>
    </div>
</div>
{% endblock %}